.page {
  width: 62.5rem;
  margin: 0 auto;
  padding-top: 4.06rem;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.43rem;
}

nav ul {
  font-family: 'Mulish', sans-serif;
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: var(--purple-900);
  text-decoration: none;
  opacity: 0.5;
}

nav a:hover {
  font-weight: bold;
  opacity: 1;
}

h1 {
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  font-size: 3.06rem;
  line-height: 3.5rem;
}

h1 strong {
  color: var(--teal-300);
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5.14rem;
}

section {
  width: 30.56rem;
  margin: 3.18rem 0;
}

section p {
  color: var(--gray-600);
  width: 27.37rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
  margin: 2.5rem 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 11.78rem;
  height: 3.5rem;
  border: none;
  border-radius: 4px;

  background: var(--green-300);
  color: var(--gray-100);
  font-family: 'DM Sans', sans-serif;
  text-transform: uppercase;
  gap: 10px;
  cursor: pointer;

  transition: background 0.5s ease;
}

button:hover {
  background: var(--green-400);
}

footer p {
  font-size: 0.875rem;
  line-height: 1.75rem;
  text-align: center;
}

footer a {
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}

.balls {
  position: fixed;
  bottom: 0;
  right: 0;
}